.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(224, 223, 223, 0.75);
  opacity: 1;
}

.modal {
  position: fixed;
  top: 11vh;
  left: 5%;
  width: 100%;
  background: rgb(250, 250, 250);
  /* background: linear-gradient(
    0deg,
    rgba(250, 250, 250, 1) 50%,
    rgba(224, 217, 217, 1) 100%
  ); */
  border-radius: 10px;
  box-shadow: 0px 1px 20px rgb(224, 217, 217);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  max-height: 93vh;
}

.close_icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
