/* body {
 padding: 1rem;
  background-color: rgb(224, 217, 217);
}  */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* background colour rgb(224,217,217) */
/* mainarea background color: rgb(229,225,224) */
/* button color rgb(211,28,39) */
